<div class="container-fluid">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="head user">
        <% @users.each do |user| %>
          <%= link_to user_path(user) do %>
          <div class="user-i-user flex">
            
            <div class="user-i-u-flex">
              <%= attachment_image_tag user, :image, fallback: "noimage.png", class:'img user-i-u-image' %>
            </div>
            <div class="user-i-u-flex">
              <div class="user-i-u-name">
                <p><%= user.name %></p>
              </div>
              <div class="user-i-u-text">
                <%= user.introduction %>
              </div>
            </div>
          </div>
          <% end %> 
        <% end %>
        
        
      </div>
    </div>
  </div>
</div>