/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";
// 文字データ
// .page-item {
//   &:active {
  
//     &.page-link {
//       z-index: 1;
//       color: #fff;
//       background-color: #FFBBFF;
//       border-color: #FFBBFF;
//     }
//   }
// }


* {
    color: #000000;
    font-size: 18px;
    text-decoration: none;
}
// 文字カラー
@mixin font-title {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

@mixin font-text {
  font-size: 12px;
  color: #787c7b;
}

// ボタンデザイン
@mixin btn-design {
  font-size: 15px;
  color: #c06db5;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  border-color: #c06db5;
  &:hover {
    border-color: #c06db5;
    background-color: #c06db5;
  }
}

.btn-design {
  @include btn-design;
}

input[type="text"], select, textarea {
  font-size: 13px;
  border: 1px solid #c0c0c0;
  border-radius: 1em;
  &:focus {
    border: 1px solid #c06db5;
    outline: 0
  }
}

::placeholder {
  font-size : 13px;
  color: #787c7b;
}
  
.cut-padding {
  @include btn-design;
  padding-bottom: none;
}
  
// タイトルデータ
.image {
  width: 100%;
}



a {
  color: #000000;
  &:hover {
    text-decoration: none;
    color: #FFBBFF;
    
  }
}

.navbar {
    height: 80px;
}

.title {
  font-weight: 600;
}

.head {
  margin-top: 80px;
  &.post {
    display: flex;
    justify-content: flex-end;
    & > :first-child {
      margin-right: auto;
    }
  }
  &.review {
    padding: auto;
  }
}

// ログイン、新規登録画面ここから
// body {
//   background: #e9e9e9;
//   color: #5e5e5e;
//   font: 400 87.5%/1.5em 'Open Sans', sans-serif;
// }

.form-signup {
  background: #e9e9e9;
  color: #5e5e5e;
  .form-wrapper {
  background: #fafafa;
  margin: auto;
  padding: 0 1em;
  max-width: 370px;
  h1 {
    text-align: center;
    padding: 1em 0;
  }
  
  form {
    padding: 0 1.5em;
    .form-item {
      margin-bottom: 0.75em;
      width: 100%;
      &:input[type="text"] {
        border-radius: none;
      }
    }
    .form-item input {
      background: #fafafa;
      border: none;
      border-bottom: 2px solid #e9e9e9;
      color: #666;
      font-size: 1em;
      height: 50px;
      transition: border-color 0.3s;
      &.field {
        width: 100%;
      }
    }
    .form-item input:focus {
      border-bottom: 2px solid #c0c0c0;
      outline: none;
      border-radius: none;
      border: none;
    }
    .button-panel {
      margin: 2em 0 0;
      width: 100%;
    }
    .button-panel .button {
      background: #f16272;
      border: none;
      color: #fff;
      cursor: pointer;
      height: 50px;
      font-size: 1.2em;
      letter-spacing: 0.05em;
      text-align: center;
      text-transform: uppercase;
      transition: background 0.3s ease-in-out;
      width: 100%;
    }
    .button:hover {
      background: #ee3e52;
    }
    
    .form-footer {
      font-size: 1em;
      padding: 2em 0;
      text-align: center;
    }
    
    .form-footer a {
      color: #8c8c8c;
      text-decoration: none;
      transition: border-color 0.3s;
    }
    
    .form-footer a:hover {
      border-bottom: 1px dotted #8c8c8c;
    }
  }
}

}









// ログイン、新規登録画面ここまで

.img_prev:hover {
  cursor: pointer;
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}

.backbtn {
  margin-bottom: 100px;
}

.flex { display: flex; }

// ページネーション関連
.pagination {
  justify-content: center;
  color: #787c7b;
}

.pagination>li>a {          
  border: none;
  color: #787c7b;
}

.pagination>.active>a {     
  background: #FFBBFF; 
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

.page-item.active .page-link {
  background-color : #FFBBFF;
}

// 投稿画面連始まり
// posts/index
.post-wedding {
  display: flex;
  padding-bottom: 50px;
}
  // カードcss
.postcard-wrapper {
  width: 32%;
  border: none;
  margin-left: 1%;
  padding-top: 40px;
}

.postcard-image {
  border-radius: 5px;
}

.postcard-title {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 16px 0 8px 0
}

.postcard-text {
  font-size: 12px;
  color: #787c7b;
}

.reaction {
  display: flex;
}

.favorite {
  padding-right: 8px;
}

.postcard-favorite-heart { padding-top: 5px; }

.postcard-reaction-text {font-size: 14px; }
.favorite-color { color: #ea3f60; }
.comment-color {color: #787c7b;}


.postcard-user {
  &:hover {
    color: #976d92;
  }
}
.postcard-user-image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.postcard-user-name {
  font-size: 12px;
  color: #787c7b;
}

 h5 {
    font-size: 14px;
    font-weight: 600;
}

.postcard-place-wrapper {
  margin-top: 10px;
  // border-top: solid 1px #787c7b;
  img {
  width: 70px;
  height: 70px;
  border-radius: 5px;
  }
  div {
    font-size: 12px;
    color: #787c7b;
    &.place-name {
      margin-left: 10px;
    }
    p {
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
    }
  }
}

.post-user-name {
  font-size: 15px;
  color: #000000;
}

.p-submit {
  @include btn-design;
  margin-top: 20px;
}

.post-show-wrapper {
  margin-top: 100px;
  
}



.post-comment-image {
  width: 100px;
  height: 100px;
}

// posts/show
.post-show-wrapper {
  .post-s-post-wrapper {
    .post-title {
      margin-top: 100px;
    }
    .post-s-user {
      margin-top: 20px;
      .post-s-u-status {
      padding-left: 10px;
        .post-s-u-name {
          font-size: 12px;
          color: #000000;
          margin-bottom: 0;
        }
        .post-s-u-date {
          margin-bottom: 0;
          font-size: 12px;
          color: #787c7b;
        }
      }
    }
    .post-s-u-comment-text {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
  .post-s-u-favorite {
    margin-top: 30px;
  }
  .post-s-comment-wrapper {
    border-top: solid 1px #787c7b;
    .post-s-u-comment-wrapper {
      .left, .right {
        margin-top: 30px;
        .post-s-u-comment-datetime {
          text-align: right;
          @include font-text;
          &.migi {
            margin-right: 20px;
          }
        }
      }
    }
    .post-s-u-comment-form {
      margin-top: 30px;
      margin-bottom: 50px;
      & input, textarea {
        width: 100%;
      }
    }
  }
  .post-s-u-place-wrapper {
    .post-s-u-place {
    }
    max-width: 50%;
    .flex {
    padding: 15px; 
    padding-left: 0px;
      .place-img {
        height: 150px;
        width: 150px;
      }
      .text {
        margin-left: 10px;
        .name {
          font-size: 14px;
          font-weight: 600;
        }  
        .star {
          img {
            height: 20px;
            width: 20px;
          }
        }
        .access {
          padding-left: 10px;
          padding-top: 5px;
          @include font-text;
        }
        .introduction {
            padding-top: 10px;
            padding-left: 10px;
            font-size: 14px;
        }
      }
    }
  }
}
// チャット　白黒
.balloon2-left {
  position: relative;
  display: inline-block;
  margin: 0 0 0 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  background: #FFF;
  border: solid 3px #555;
  border-radius: 10px;
  box-sizing: border-box;
  
}

.balloon2-left::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-right: 12px solid #FFF;
  z-index: 2;
}

.balloon2-left::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-right: 14px solid #555;
  z-index: 1;
}

// チャット　背景色付き
.balloon1-right {
  text-align: left;
  position: relative;
  display: inline-block;
  margin: 0 15px 0 0;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  background: #fbdffb;
  border-radius: 10px;
}

.balloon1-right:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #fbdffb;
}

.balloon1-right p {
  margin: 0;
  padding: 0;
}

.right {
  text-align: right;
  justify-content: flex-end;
}
 

// post/edit

.post-e-title {
  margin-top: 10px;
  .post-e-form {
    width: 100%;
    .post-e-btn {
      margin-left: 10px;
    }
  }
}
// 投稿画面終わり

// ユーザー画面始まり

.user-i-user {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #d2b6d2;
}

.user-i-u-image {
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

.user-i-u-name {
  @include font-title;
  // padding-top: 20px;
  padding-left: 20px;
}

.user-i-u-text {
  @include font-text;
  padding-top: 0px;
  padding-left: 20px;
}

.user-s-u-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-s-u-text {
  margin-left: 20px;
} 

.user-s-u-name {
  @include font-title;
}

.user-s-u-introduction {
  margin-top: 10px;
  @include font-text;
}

.user-s-u-btn {
  margin-top: 20px;
}

.user-edit{
  
}

.user-e-u-wrapper {
  
}

.user-e-u-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.01, 1.01);
  }
}

.user-flex {
  margin-left: 20px;
  width: 100%;
}

.user-flex-right {
  width: 100%;
}

.user-e-u-form {
  width: 100%;
}

.user-e-u-introduction {
  padding-top: 10px;
}

.user-e-u-submit {
  margin: 0 0 0 auto;
}
// ユーザー画面終わり

// 結婚式場画面始まり

.place-in-new {
  @include btn-design;
}

.place-in-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #d2b6d2;
}

.place-in-flex-right {
  margin-left: 20px;
}

.place-in-image {
  width: 200px;
  height: 200px;
}

.place-in-address {
  @include font-text;
}

.place-in-r-text {
  padding-top: 5px;
  @include font-text;
  &:hover {
    color: #976d92;
    border-bottom: solid 1px #976d92;
  }
}

.place-in-title {
  @include font-title;
}

.place-in-text {
  font-size: 13px;
} 

.place-in-y-count {
  @include font-text;
}

.place-show-wrapper {
  .place-s-place-wrapper {
    padding-left: 15px;
    margin-bottom: 20px;
    .place-s-p-flex-left {
      .place-s-p-image {
        width: 300px;
        height: 300px;
        
      }
    }
    .place-s-p-flex-right {
      padding-top: 50px;
      padding-left: 30px;
      
      .place-s-p-title {
        padding-top: 10px;
      }
      .place-s-p-introduction {
        padding-top: 10px;
        @include font-text;
      }
      .place-s-p-postal_code {
        padding-top: 10px;
        font-size: 12px;
      }
      .place-s-p-address {
        padding-top: 10px;
        font-size: 12px;
      }
    }
  }
  .place-s-reviews-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    .place-s-review {
      padding: 25px 0 25px 15px;
      border-top: solid 1px #976d92;
      &.yours {
        background-color: #fceef9;
      }
      .place-s-user {
        margin-bottom: 10px;
        .place-s-r-user-image {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }
        .place-s-r-user-name {
          padding-top: 10;
          font-size: 14px;
        }
      }
      .place-s-r-text {
        .place-s-r-title {
          padding-top: 10px;
          font-size: 14px;
          font-weight: 600;
        } 
        .place-s-r-datetime {
          @include font-text;
        }
        .place-s-r-body {
          padding-top: 10px;
          font-size: 14px;
        }
      }
    }
  }
}












// 結婚式情報終わり

// レビュー画面始まり
.r-place {
  margin-left: 30px;
}

.r-p-text {
  margin-left: 30px;
  margin-top: 15px;
}
  
.r-p-image {
  height: 150px;
  width: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.r-p-name {
  @include font-title;
}

.r-p-introduction {
  @include font-text;
  margin-top: 10px;
  padding-left: 30px;
}

.r-p-address {
  position: relative;
  top: 75px;
  font-size: 12px;
  color: 000000;
  display: table-cell;
}

#star { 
  border-top: solid 1px #c0c0c0;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 15px;
}

.f-title {
  @include font-title;
}

.r-r-title {
  width: 100%;
  margin-bottom: 15px;
}

.r-r-body {
  width: 100%;
  margin-bottom: 15px;
}

.r-r-submit {
  @include btn-design;
  margin-right: auto;
  margin-bottom: 15px;
  text-align: right;
}

// レビュー画面終わり

