/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";

h1,h2,h3,h4 {
    margin-top: 100px;
}

a {
    color: #000000;
}

.navbar {
  height: 80px;
    
  .shrink {
      color: 000000;
      background-color : #fff; 
  }
}

