<div class="container">
  <div　class="row">
    <div class="">
      <h1>
        結婚式を見る
      </h1>
    </div>
    <div class="row">
      <p><%= link_to '結婚式を投稿', new_post_path, class: 'btn btn-primary', "data-turbolinks": false %></p>
      <% @posts.each do |poste| %>
        <%= link_to post_path(poste) do %>
          <p><%= attachment_image_tag poste, :image, fallback: "noimage.png", "data-turbolinks": false %></p>
        <% end %>
        <p><%= poste.title %></p>
        <% end %>
    </div>
  </div>
</div>