<% if content.errors.any? %>
      <h4 class="errors-message">項目が記入されてない箇所があります。</h4>
      <div id ="error_explanation" class="alert alert-danger">
        <ul>
          <% content.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>