<!--検索フォーム-->
      <%= search_form_for search do |f| %>
        <%= f.search_field :name_cont, placeholder: 'キーワード作者名で検索'%>
        <%= f.submit %>
      <% end %>
      
>
<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
    
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
    <!--% users.each do |user| %>-->
      
    <!--% end %>-->
    <!--  <tr>-->
    <!--    <td>%= user.name %></td>-->
    <!--  </tr>-->
    <!--% end %>-->
<!--  </tbody>-->
<!--</table>-->